.map {
    width: 900px;
    height: 547px;
    /* width: 1200px;
    height: 800px; */

    margin : 0;
    float: left;
  }
  
  #coord_list {
    float: left;
    width: calc(100% - 900px);
    height: 547px;
  }
  .ol-zoom-extent >button {
    background-image: url(/resource/free-icon-center-focus-565785.png) ;
    background-size: cover;
  }